*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

/*Global css */
.obj-width{
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: chocolate;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.7);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}
.nav-bar .logo{
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 10px;
}
#search_input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: black;
}
#search_button{
    padding: 10px 20px;
    background-color:rgb(10, 186, 71);
    color: #fff;
    border: none;
    font-size: 18px;
    cursor:pointer;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
#blog-container{
    padding: 3rem 1rem;
    display: flex;
    justify-content:space-around;
    align-items:start;
    flex-wrap: wrap; 
}
.blog-card{
    width: calc(25% - 20px);
    margin: 10px;
    cursor: pointer;
}
.blog-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 1rem;
}
.blog-card:hover{
    box-shadow: 10px 15px 5px  rgba(49, 32, 32, 0.2);
}
.blog-card h2{
    color: #141414;
    font-size: 1.7 rem;
    font-weight: 500px;
}
.blog-card p{
    font-size: 1.2 rem;
    padding-top: 0.7rem;

}
@media(max-width:500px){
    .nav-bar .logo{
        font-size: 1.8rem;
    }
    #search_input{
        width: 100px;
        padding: 10px 10px;
    }
    .blog-card {
        width: calc(100% - 10px);
        margin: 10px auto; 
    }
}

